[{zotonic,
    [
        {dbhost, "postgres"},
        {password, ""},
        {user_modules_dir, "/opt/zotonic/user/modules"},
        {user_sites_dir, "/opt/zotonic/user/sites"},
        {user_ebin_dir, "/opt/zotonic/user/ebin"},
        {deps,
            [
                {esaml, "1.1", {git, "git://github.com/arekinath/esaml", {tag, "v1.1"}}}
            ]}
    ]
}].
